<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <profile>
      <properties>
        <add allowAnonymous="true" defaultValue="" name="employeeName" readOnly="false" serializeAs="String" type="System.String" />
        <add allowAnonymous="true" defaultValue="" name="departmentID" readOnly="false" serializeAs="String" type="System.String" />
        <add allowAnonymous="true" defaultValue="" name="image" readOnly="false" serializeAs="String" type="System.String" />
      </properties>
    </profile>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" />
    </authentication>
    <roleManager enabled="true" />
    <anonymousIdentification enabled="true" />
  </system.web>
  <connectionStrings>
        <remove name="LocalSqlServer" />
    <add name="ADT9DB1ConnectionString" connectionString="Data Source=localhost;Initial Catalog=ADT9DB1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ADT9DB1ConnectionString2" connectionString="Data Source=localhost;Initial Catalog=ADT9DB1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ADT9DB1Entities" connectionString="metadata=res://*/App_Code.EFModel1.csdl|res://*/App_Code.EFModel1.ssdl|res://*/App_Code.EFModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ADT9DB1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADT9DB1Entities1" connectionString="metadata=res://*/App_Code.EFModel1.csdl|res://*/App_Code.EFModel1.ssdl|res://*/App_Code.EFModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ADT9DB1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADT9DB1Entities2" connectionString="metadata=res://*/App_Code.EFModel1.csdl|res://*/App_Code.EFModel1.ssdl|res://*/App_Code.EFModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ADT9DB1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADT9DB1Entities3" connectionString="metadata=res://*/App_Code.EFModel1.csdl|res://*/App_Code.EFModel1.ssdl|res://*/App_Code.EFModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ADT9DB1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="aspnetdbEntities" connectionString="metadata=res://*/App_Code.userado.csdl|res://*/App_Code.userado.ssdl|res://*/App_Code.userado.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=aspnetdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADT9DB1Entities4" connectionString="metadata=res://*/App_Code.EFModel1.csdl|res://*/App_Code.EFModel1.ssdl|res://*/App_Code.EFModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ADT9DB1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADT9DB1ConnectionString3" connectionString="Data Source=localhost;Initial Catalog=ADT9DB1;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add connectionString="Server=localhost;Database=aspnetdb;Integrated Security=true" name="LocalSqlServer" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>